<!-- The overlay -->
<div id="myNav" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
       
    <p id="usP">Discovering and innovating creative solutions to problems is a task that I have enjoyed my whole life, and is now developing
        into a career path for me. In addition to this my passion for nature and genuine human connection makes me an empathetic
        and unique asset to any team. I am always thrilled for new opportunities to grow and expand my knowledge in exciting
        and challenging ways.
        <img class="slidePic" id="us" src="../../assets/us.jpg" style="width:10%">
    
    
    
    </p>
    
    </div>

</div>
<div id="myNav2" class="overlay">

    <!-- Button to close the overlay navigation -->
    <!-- <a href="javascript:void(0)" class="closebtnSlide" onclick="closeNav2()">&times;</a> -->

    <!-- Overlay content -->
    <div class="overlay-contentSlide">

        <div class="slideshow-container">
            <div class="mySlides fade">
                <!-- <div class="numbertext">1 / 3</div> -->
                
                <div id="dot" style="text-align:center">
                    <a href="javascript:void(0)" class="closebtnSlide" onclick="closeNav2()">&times;</a>
                    <div class="numbertext">VeganHelper</div>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
                
                <img class="slidePic" src="../../assets/VH.png" style="width:100%">
                
            </div>
        
            <div class="mySlides fade">
                
                
                <div id="dot" style="text-align:center">
                    <a href="javascript:void(0)" class="closebtnSlide" onclick="closeNav2()">&times;</a>
                    <div class="numbertext">Aeon Home Survey</div>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
              
                <img class="slidePic" src="../../assets/aeon.png" style="width:100%">
                
            </div>
        
            <div class="mySlides fade">
                
                
                <div id="dot" style="text-align:center">
                    <div class="numbertext">Bubbles</div>
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
              
                <img class="slidePic" src="img3.jpg" style="width:100%">
                
            </div>
        
            <!-- <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a> -->
            <!-- <a class="next" onclick="plusSlides(1)">&#10095;</a> --> 
        </div>
        <br>
        
    <span style="text-align:center" class="" id="dotSingle" onclick="currentSlide(1)">CLICK TO SEE!</span>
        
        
         
    </div>

</div>
<div id="myNav3" class="overlay">

    <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <p>3</p>
    </div>

</div>
<div id="myNav4" class="overlay">



<div class="overlay-contentSlide">

    <div class="slideshow-container">
        <div class="mySlides fade">
            <!-- <div class="numbertext">1 / 3</div> -->

            <div id="dot" style="text-align:center">
                <a href="javascript:void(0)" class="closebtnSlide" onclick="closeNav2()">&times;</a>
                <div class="numbertext">VeganHelper</div>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <img class="slidePic" src="../../assets/VH.png" style="width:100%">

        </div>

        <div class="mySlides fade">


            <div id="dot" style="text-align:center">
                <a href="javascript:void(0)" class="closebtnSlide" onclick="closeNav2()">&times;</a>
                <div class="numbertext">Aeon Home Survey</div>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <img class="slidePic" src="../../assets/aeon.png" style="width:100%">

        </div>

        <div class="mySlides fade">


            <div id="dot" style="text-align:center">
                <div class="numbertext">Bubbles</div>
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <img class="slidePic" src="img3.jpg" style="width:100%">

        </div>

        <!-- <!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a> -->
        <!-- <a class="next" onclick="plusSlides(1)">&#10095;</a> -->
    </div>
    <br>

    <span style="text-align:center" class="" id="dotSingle" onclick="currentSlide(1)">CLICK TO SEE!</span>



</div>

</div>



   

</div>
<!-- Use any element to open/show the overlay navigation menu -->
