<div id="mnm"></div>

<div class="container">

    <footer class="tab" layout="row" layout-align="center">
        <div id="footerButtons">

            <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Nutrition')">About</button>
            <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Animals')">Skills</button>
            <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Myths')">More</button>
            <button layout="row" layout-align="center" class="tablinks" onclick="openCity(event, 'Projects')">Projects</button>
            <li>

            </li>
        </div>
    </footer>





    <div layout="row" layout-align="center" id="Environment" class="tabcontent">
        <!-- <img class="cardImage" src="../../assets/nature1.jpg" alt="Avatar" style="width:100%"> -->


    </div>

    <div layout="row" layout-align="center" id="Nutrition" class="tabcontent">
        <!-- <img src="../../assets/nature1.jpg" alt="Smiley face"> -->

        <p>Discovering and innovating creative solutions to problems is a task that I have enjoyed my whole life, and is now
            developing into a career path for me. In addition to this my passion for nature and genuine human connection
            makes me an empathetic and unique asset to any team. I am always thrilled for new opportunities to grow and expand
            my knowledge in exciting and challenging ways.



        </p>

    </div>

    <div layout="row" layout-align="center" id="Animals" class="tabcontent">
        <p>Ajax jQuery Angular nodeJS JavaScript</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


    </div>

    <div layout="row" layout-align="center" id="Myths" class="tabcontent">
        <p>hey</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>


</div>
<div layout="row" layout-align="center" id="Projects" class="tabcontent">
    <img id="overflow" src="../../assets/allProjects.png" alt="Smiley face">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>



</div>
</div>